@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova.otf');
  font-weight: normal;
}
body {
  text-align: center;
  font-size: 200%;
}
.feedhenry-logo {
  font-family: 'Proxima Nova', 'ProximaNova', 'Arial Narrow', Arial, Helvetica, sans-serif;
  letter-spacing: 0.15em;
  font-weight: bold;
}
.feedhenry-logo span {
  margin-left: 0.3em;
}
.feedhenry-logo .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50% 0 50% 0;
  border: 0.4em solid #e02d01;
}
.feedhenry-logo .icon:before,
.feedhenry-logo .icon:after {
  content: "";
  position: absolute;
  margin-left: -0.17em;
  left: 50%;
  width: 0.38em;
  background-color: #E02D01;
  -webkit-transform: skewX(-20deg) rotate(-20deg);
     -moz-transform: skewX(-20deg) rotate(-20deg);
      -ms-transform: skewX(-20deg) rotate(-20deg);
       -o-transform: skewX(-20deg) rotate(-20deg);
          transform: skewX(-20deg) rotate(-20deg);
}
.feedhenry-logo .icon:after {
  top: -0.1em;
  height: 0.59em;
  border-radius: 0.3em 0 0 0;
}
.feedhenry-logo .icon:before {
  bottom: -0.15em;
  height: 0.95em;
  border-radius: 0.5em 0 0.5em 0 / 0.7em 0 0.7em 0;
}